@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0 16%;
}

#tst {
    color: green;
}

h2 {
    text-transform: uppercase;
    font-family: poppins;
}

ul {
    text-decoration: none;
    color: black;
}

nav {
    margin: 0 30%;
    margin-top: -2.5rem;
}

nav li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

main {
    margin-top: 5rem;
}



.lower {
    display: flex;
}

#haut {
    float: left;
    font-family: poppins;
}

.logo {
    display: flex;
}


#plante {
    width: 70%;
    float: right;
    margin-right: 5rem;
}

#btn1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d5b41;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: poppins;
}


#vertical {
    color: #3d5b41;
    font-family: poppins;
    float: right;
}

#our {
    writing-mode: vertical-rl;
}

#vertical li {
    list-style-type: none;
    color: #3d5b41;
}


#space {
    padding: 5rem;
}


#about {
    width: 20rem;
    display: flex;
}

.intro2 {
    display: flex;
}


#program {
    float: right;
    margin-left: 25rem;

}
















@media screen and (max-width: 768px) {
    body {
        margin: 0 3%;
    }

    nav {
        margin: 0 5%;
    }

    h1,
    #firstp {
        margin-right: 5%;
    }

    #plante {
        margin-right: 0;
    }

    #program {
        margin-left: 0;
    }
}