@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0 16%;
}

#tst {
    color: green;
}

h2 {
    text-transform: uppercase;
    font-family: poppins;
}

ul {
    text-decoration: none;
    color: black;
}

nav {
    margin: 0 30%;
    margin-top: -2.5rem;
}

nav li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

main {
    margin-top: 5rem;
}



.lower {
    display: flex;
}

#haut {
    float: left;
    font-family: poppins;
}

h1,
#firstp {
    margin-right: 20rem;

}



#plante {
    width: 25rem;
    float: right;
    margin-right: 5rem;
}

#btn1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d5b41;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: poppins;
}


#vertical {
    color: #3d5b41;
    font-family: poppins;
    margin-top: -13rem;
    float: right;
}

#our {
    writing-mode: vertical-rl;
}

#vertical li {
    list-style-type: none;
    color: #3d5b41;
}


#space {
    padding: 5rem;
}


#about {
    width: 20rem;
    display: flex;
}